# ── PostgreSQL ──────────────────────────────────────
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ── GitHub / Git ────────────────────────────────────
GITHUB_AUTHOR=
GITHUB_EMAIL=
GITHUB_URL=
GITHUB_USERNAME=
GITHUB_TOKEN=
